//--------------------------------------------------
// Global variables v1
//
// Define global sass variables here.
//--------------------------------------------------

// Media Queries
$media-mobile: 20em; //320
$media-m-t: 26.250em; //420
$media-small-tablet: 32em;//512
$media-tablet: 48em; //768
$media-t-d: 56em; //896
$media-desktop: 64em; //1024
$media-d-w: 68.750em; //1100
$media-wide: 75em; //1200

$media-logo-mobile: 26.250em; //480
$_btn-transition: .175s;
$font-family-serif: 'IBM Plex Serif', serif;
$font-family-sans: 'IBM Plex Sans', sans-serif;
$font-family-cta: $font-family-sans;
$font-family-default: $font-family-sans;
$body-copy: $font-family-serif;
$font-family-bold: $font-family-serif; 

// Font Sizes
$font-size-root: 16px; // Root size, only for html tag.
$font-size-default: 1.1rem;
$line-height-default: 1.8;

// Colors
$color-white: white;
$color-black: black;
$color-blue-dark: #0C4E8C;
$color-blue: #0C81E4;
$color-cyan: #11C4D4;
$color-green: #4FE7AF;
$color-mint: #CCF1CD;

//Colors Grays
$color-gray-light: #f2f2f2;
$color-gray: #888;
$color-gray-dark: #313B44;

//Colors Base for Layout
$color-selection: $color-mint;
$color-default: $color-gray-dark;
$color-bg: white;
$color-header-bg: rgba($color-cyan, 0.6);
$color-footer-bg: $color-blue-dark;

//Color Links
$color-link: $color-blue;
$color-two: $color-cyan;
$color-saturate: saturate($color-link, 80);
$color-lighten-blue: lighten($color-blue, 15);
$color-darken-blue: darken($color-blue, 10);
$color-hover: saturate($color-lighten-blue, 20);
$color-submenu: $color-blue;
$color-submenu-hover: $color-blue;
$color-light-blue-hover: darken($color-cyan, 15);

//Color Button Like Links
$color-darken-green: darken($color-green, 20);
$color-link-button-green: $color-darken-green;
$color-mint-darker: darken($color-mint, 20);

//Colors Buttons
$color-button: $color-blue;
$color-button-green: $color-green;

//Color-Headings
$color-hdg: $color-blue-dark;
$color-hdg-2: $color-blue-dark;
$color-hdg-3: $color-gray-dark;

 $_btn-transition: .075s;