.article {
  width: 100%;
  min-height: calc(60vh - 40px);

  li {
    list-style-type: disc;
  }
}

.article-sidebar {
  width: 69%;
  float: left;
}

.article-search {
   min-height: calc(60vh - 70px);
}
