//--------------------------------------------------
// Util stuff
//--------------------------------------------------
// ACCESSIBILITY
@mixin invisible() {
  // scss-lint:disable ImportantRule, DuplicateProperty
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
}

.invisible {
  @include invisible();
}

body {
  font-family: "IBM Plex Serif", serif;
  font-family: $body-copy;
  line-height: 1.6;
}

a {
  text-decoration: none;
}

aside {
  display: block;
  @media screen and (min-width: 56.25em) {
    display: inline-block;
  }
}

.event {
  margin-bottom: 2rem;
}
