/* Header Styles */

.header {
  font-family: 'IBM Plex Serif', serif;
  font-weight: bold;
  border-top: 4px solid #0C81E4;
  background: $color-gray-light;
  padding: 2em;

  @include media($media-tablet) {
    padding: 2em 4em;
  }
}

.header_logo {
  width: 309px; 
  height: 63px;

  @include media($media-tablet) {
    display: block;
  }

  @include media($media-d-w) {
    display: inline-block;
  }
}