//--------------------------------------------------
// Columns
//--------------------------------------------------

.col {
  display: flex;
  flex-direction: column;

  @include media($media-tablet) { 
    flex-wrap: wrap;
  }
}

.col-main {
  width: 100%;

  @include media($media-tablet) { 
    flex-basis: auto;
    margin-right: 3.75em;
  }
}


.col-sidebar {
 width: 100%;

  @include media($media-tablet) { 
    flex-basis: 50%;
  }
}
