/* container styles */
.container {
  margin: 0 auto;
  overflow: hidden;
  position: relative;
  width: 100%;
}

.container-squeeze {
  @include clearfix();
  @include sitePadding();
  display: block;
  margin: auto;
  width: 100%;
  max-width: $max-width;
}
