//--------------------------------------------------
// Row for containing column
//--------------------------------------------------

.row {
  display: block;

  @include media($media-tablet) { 
    display: flex;
    flex-direction: row;
  }
}